{{ define "footer"}}

    <script src="assets/js/bootstrap.min.js"></script>


<div>
    <footer class="footer noneBorderRadius" role="navbar">
        <div class="container log">
            <div class="row">

                <div class="col-xs-2"></div>

                <div class="col-xs-8">

                    <div class="form-group row-fluid visible-xs">
                        <!--<div class="col-sm-offset-2 col-sm-8">-->
                        <p>&copy;Content 2.0 2019</p>
                    </div> 

                    <div class="form-group navbar-fixed-bottom row-fluid visible-sm visible-md visible-lg">
                        <!--<div class="col-sm-offset-2 col-sm-8">-->
                        <p>&copy;Content 2.0 2020<br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis incidunt eveniet dolores pariatur,<br> 
                            quasi consectetur provident! Error magnam vitae nobis, ullam laudantium autem, aliquam modi quasi, eos saepe voluptatibus reprehenderit. 
                        </p>
                    </div> 

                </div>

                <div class="col-sm-2"></div>
                
            </div>
        </div>
    </footer>
</div>

</body>

</html>
{{ end }}
