{{define "header"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome page</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]--> 
    <link rel="stylesheet" href="assets/css/app.css">
        
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/jquery.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inversr noneBorderRadius" role="navbar">
        <div class="container">
            <div class="row">

                <div class="col-xs-0 col-sm-1 col-md-2 col-lg-2"></div>

                <div class="col-xs-6 col-sm-5 col-md-4 col-lg-4">
                    <a href="/" class="navbar-brand">Geekbrains</a>
                </div>

                <div class="col-xs-6 col-sm-5 col-md-4 col-lg-4">
                    <a href="/" class="navbar-brand align-right"><p>Homework 2.1</p></a>
                </div>

                <div class="col-xs-0 col-sm-1 col-md-2 col-lg-2"></div>

            </div>
        </div>
    </div>


{{ end }}