{{ define "index"}}

{{template "header"}}

<br class="visible-lg visible-md">
<div class="container log">
    <div class="row">

        <div class="col-xs-1 col-sm-2 col-md-3 col-lg-3"></div>

        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6">
            <form class="form-horizontal">
                
                <div class="form-group">
                    <h3 class="col-sm-12">Enter your request in this field</h3>
                    
                    <div class="col-sm-12">
                    <textarea autofocus name="request" class="form-control noneBorderRadius" id="request" cols="20" rows="4"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                    <button type="submit" class="btn btn-lg btn-primary btn-group-justified noneBorderRadius">Send request</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-xs-1 col-sm-2 col-md-3 col-xs-3"></div>

    </div>
</div>


{{ template "footer"}}

{{ end }}